/** @format */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-weight: 100;
  font-style: normal;
  font-family: "lato", sans-serif;
  overflow-x: hidden;
}

.container-first-section {
  background-image: url("./images/Image (1).png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.container-first-section img {
  display: none;
}
span {
  display: none;
}

.logo {
  display: flex;
  background-color: white;
  min-height: 5.5rem;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 48rem;
  gap: 1.5rem;
  padding-top: 2.5rem;
  font-size: 1.4rem;
}

ul li:hover {
  text-decoration: underline;
  color: rgb(179, 30, 30);
}

#living {
  padding-left: 2rem;
}

.text-overlay {
  background-color: white;
  width: 38%;
  height: 15rem;
  display: flex;
  top: 10rem;
  flex-direction: column;
  position: relative;
  border-radius: 0rem 2rem 2rem 0rem;
}

.text-overlay h1 {
  position: absolute;
  line-height: 2.5rem;
  right: 9rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 1rem;
  white-space: nowrap;
}
.text-overlay P {
  position:absolute;
  right: 1rem;
  padding-top: 9rem;
  white-space: nowrap;
}

.contain-grid {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 6rem;
}
.images {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.images-child {
  display: none;
}

.text-mobile {
  display: none;
}

.text {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  background-color: #ddd;
  padding-left: 4rem;
  border-radius: 0 3rem 3rem 0;
  padding-top: 1rem;
}
.text h2 {
  position: absolute;
  top: 8rem;
  left: 8rem;
}

.text p {
  white-space: nowrap;
  position: absolute;
  padding-top: 3.6rem;
  right: 5rem;
  line-height: 1.8rem;
}

.image-text-container {
  display: flex;
  align-items: center;

  padding-top: 2rem;
  margin: 2rem;
}

.image-text-container img {
  margin: 0;
}

.image-text-container p {
  margin: 0;
  border-radius: 0 3rem 3rem 0;
  background-color: #f2f0f2;
  height: 23.6rem;
  min-width: 35rem;
  align-content: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-top: 5rem;
}

b {
  font-size: 2.4rem;
  position: absolute;
  left: 49rem;
  top: 63rem;
}
.child {
  padding-left: 3rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#third {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.feature-container {
  text-align: center;
  margin: 3rem;
  margin-left: 3rem;
  padding-top: 4rem;
}

.feature-container p {
  padding-top: 1rem;
}

.feature-container-child {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  bottom: 2rem;
  left: 2rem;
}

#child-one {
  display: flex;
  margin: 0.8rem;
  background-color: #e2f1e8;
  width: 18rem;
  height: 12rem;
  padding-top: 3rem;
  border-radius: 2rem;
}

#child-one h3 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 3rem;
  right: 41rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

#child-one p {
  /* position: absolute; */
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 0;
  padding-right: 37rem;
  top: 13rem;
  white-space: nowrap;
}
#child-one i {
  padding-left: 5rem;
}

#child-two {
  display: flex;
  margin: 0.8rem;
  background-color: #e2f1e8;
  width: 18rem;
  height: 12rem;
  padding-top: 3rem;
  border-radius: 2rem;
}

#child-two h3 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 2rem;
  margin-left: 5rem;
  white-space: nowrap;
}

#child-two p {
  position: absolute;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 0;
  left: 20.6rem;
  top: 13rem;
  white-space: nowrap;
}
#child-two i {
  right: 30rem;
}

#child-three {
  display: flex;
  margin: 0.8rem;
  background-color: #e2f1e8;
  width: 18rem;
  height: 12rem;
  padding-top: 3rem;
  border-radius: 2rem;
}

#child-three h3 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 2rem;
  right: 37rem;
  white-space: nowrap;
}

#child-three p {
  position: absolute;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 0;
  right: 27rem;
  top: 7rem;
  white-space: nowrap;
}
#child-three i {
  padding-left: 5rem;
}

#child-four {
  display: flex;
  margin: 0.8rem;
  background-color: #e2f1e8;
  width: 18rem;
  height: 12rem;
  padding-top: 3rem;
  border-radius: 2rem;
}

#child-four h3 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 3rem;
  right: 40rem;
  white-space: nowrap;
}

#child-four p {
  position: absolute;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 0;
  right: 11rem;
  top: 13rem;
  white-space: nowrap;
}
#child-four i {
  padding-left: 5rem;
}

.feature-container-child img {
  position: absolute;
  top: 98rem;
  margin-left: 2rem;
  width: 1.8rem;
  display: flex;
  flex-direction: row-reverse;
}

#last {
  text-align: center;
  margin: 5rem;
}

.Hamburg {
  display: none;
}

.images-cousin {
  display: none;
}

/* mobile responsiveness section */
@media (min-width: 320px) and (max-width: 920px) {
  .logo {
    background-color: white;
    height: 5rem;
    width: 100%;
  }
  #living {
    padding-left: 0.3rem;
    padding-top: 0.5rem;
  }

  ul,
  ul li:hover {
    display: none;
  }
  span {
    display: flex;
    padding-left: 9rem;
    padding-top: 2rem;
    font-size: 1.5rem;
  }

  .container-first-section {
    background-image: url("./images/Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .text-overlay {
    background-color: white;
    /* position: relative; */
    width: 79%;
    top: 2.5rem;
    height: 10.5rem;
    border-radius: 0rem 2rem 2rem 0rem;
  }

  .text-overlay h1 {
    line-height: 1.6rem;
    padding-left: 0.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* position: absolute; */
    bottom: 6.5rem;
    font-size: 1.5rem;
  }
  .text-overlay P {
    position: absolute;
    padding-left: 0.5rem;
    bottom: 0.8rem;
    line-height: 1.2rem;
  }
  .images-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 2rem;
    padding-right: 1rem;
    margin: auto;
  }
  .images-child img {
    width: 110%;
    margin: 0;
    position: relative;
    top: 0.2rem;
  }
  .images {
    display: none;
  }
  .text {
    display: none;
  }
  .text-mobile {
    display: flex;
    flex-direction: column;
    width: 210%;
    height: 15rem;
    align-items: center;
    background-color: #ddd;
    border-radius: 0rem 0rem 2rem 2rem;
  }

  .text-mobile p {
    text-align: center;
    padding-top: 2rem;
    line-height: 1.5rem;
  }
  .text-mobile h2 {
    padding-top: 1.5rem;
  }

  .feature-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    right: 1rem;
    min-width: 80%;
    top: 2rem;
  }
  .feature-container-child {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 4.5px;
  }

  #child-one {
    background-color: #e2f1e8;
    width: 90%;
    height: 15rem;
    padding-top: 3rem;
    border-radius: 2rem;
  }

  #child-one h3 {
    padding-top: 1.9rem;
    font-size: 1.5rem;
    left: 2rem;
  }

  #child-one p {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.5rem;
    top: 13rem;
    left: 2.8rem;
    font-size: 1.2rem;
  }
  #child-one i {
    position: absolute;
    top: 6rem;
    right: 15.7rem;
    font-size: 1.8rem;
  }

  #child-two {
    background-color: #e2f1e8;
    width: 90%;
    height: 15rem;
    padding-top: 3rem;
    border-radius: 2rem;
  }

  #child-two h3 {
    padding-top: 3rem;
    right: 3.5rem;
    font-size: 1.7rem;
  }

  #child-two p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6rem;
    left: 2.7rem;
    padding-top: 18rem;
  }
  #child-two i {
    position: absolute;
    top: 23rem;
    right: 14.8rem;
    font-size: 1.8rem;
  }

  #child-three {
    background-color: #e2f1e8;
    width: 90%;
    height: 15rem;
    padding-top: 3rem;
    border-radius: 2rem;
  }

  #child-three h3 {
    padding-top: 3rem;
    left: 1rem;
    font-size: 2rem;
  }

  #child-three p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    left: 2rem;
    padding-top: 40rem;
  }
  #child-three i {
    position: absolute;
    top: 40rem;
    right: 15rem;
    font-size: 1.8rem;
  }
  #child-four {
    background-color: #e2f1e8;
    width: 90%;
    height: 15rem;
    padding-top: 3rem;
    border-radius: 2rem;
  }
  #child-four h3 {
    padding-top: 3rem;
    left: 2rem;
    font-size: 2rem;
  }
  #child-four p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6rem;
    left: 2.5rem;
    padding-top: 52rem;
  }
  #child-four i {
    position: absolute;
    top: 56rem;
    right: 14rem;
    font-size: 1.8rem;
  }
}

/* media query */
@media (min-width: 412px) {
  .feature-container {
    padding-left: 0.9rem;
  }

  span {
    padding-left: 14.6rem;
    font-size: 1.8rem;
  }
  #child-one i {
    padding-right: 3.8rem;
    font-size: 1.8rem;
  }
  #child-two i {
    padding-right: 2rem;
    font-size: 1.8rem;
  }
  #child-three h3 {
    padding-left: 1.6rem;
  }
  #child-three p {
    padding-left: 0.9rem;
  }
  #child-three i {
    padding-right: 3.8rem;
    font-size: 1.8rem;
  }
  #child-four i {
    padding-right: 3.8rem;
    font-size: 1.8rem;
  }
}

/* media query */
@media (min-width: 360px) {
  span {
    padding-left: 11.3rem;
    font-size: 1.8rem;
  }
  #child-one i {
    padding-right: 2.5rem;
    font-size: 1.8rem;
  }
  #child-two h3 {
    position: relative;
    padding-left: 0.2rem;
  }
  #child-two i {
    padding-right: 2.5rem;
    font-size: 1.8rem;
  }
  #child-three i {
    padding-right: 2.5rem;
    font-size: 1.8rem;
  }
  #child-four h3 {
    right: 17rem;
  }
  #child-four i {
    padding-right: 2.5rem;
    font-size: 1.8rem;
  }
}

/* media query */
@media (min-width: 390px) {
  span {
    padding-left: 13rem;
  }
  .text-overlay h1 {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  #child-one i {
    padding-right: 4rem;
  }
  #child-two i {
    padding-right: 4rem;
  }
  #child-three i {
    padding-right: 4rem;
  }
  #child-three i {
    padding-right: 4rem;
  }
  #child-four i {
    padding-right: 4rem;
  }
}
/* media query */
@media (min-width: 428px) {
  span {
    padding-left: 23rem;
  }

  .text-overlay {
    right: 5rem;
  }
  .text-overlay,
  h1,
  p {
    padding-left: 7rem;
  }
  .feature-container-child {
    position: relative;
    padding-left: 2rem;
  }

  #child-one i {
    padding-right: 13rem;
  }
  #child-one p {
    position: absolute;
    right: 30rem;
  }

  #child-one h3 {
    padding-left: 21rem;
  }
  #child-two i {
    padding-left: 4rem;
  }
  #child-two p {
    position: absolute;
    margin-right: 69rem;
  }
  #child-three i {
    padding-right: 6.5rem;
  }

  #child-four i {
    padding-right: 6.5rem;
  }
}
/* media query */
@media (min-width: 540px) {
  .feature-container h2 {
    padding-left: 5rem;
  }
  .feature-container p {
    padding-right: 3rem;
  }
  .feature-container-child {
    padding-left: 1rem;
  }
  .text-mobile p {
    padding-left: 1rem;
  }
  span {
    padding-left: 22rem;
  }

  .text-overlay {
    /* max-width: 20.9rem; */
  }
  #child-one h3 {
    padding-left: 7.2rem;
  }
  #child-one i {
    left: 14.8rem;
  }
  #child-two h3 {
    padding-left: 7.5rem;
  }
  #child-two i {
    left: 14.8rem;
  }
  #child-three h3 {
    padding-left: 6.8rem;
  }
  #child-three i {
    left: 14.8rem;
  }
  #child-four h3,
  p {
    padding-left: 6.8rem;
  }
  #child-four i {
    left: 14.8rem;
  }
}

/* responsiveness for tablet devices */
@media (min-width: 768px) {
  span {
    padding-left: 32rem;
    padding-top: 2.6rem;
    font-size: 2.5rem;
  }
  #living img {
    padding-top: 1rem;
    width: 100%;
    height: 5rem;
    padding-left: 2rem;
  }
  .feature-container h2 {
    padding-right: 3rem;
  }
  .feature-container h2 p {
    padding-right: 8rem;
  }

  .text-overlay {
    top: 6rem;
    height: 16rem;
    min-width: 30rem;
  }
  .text-overlay p {
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .text-overlay h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 2rem;
  }

  .feature-container-child {
    padding-left: 2.7rem;
  }
  #child-one h3 {
    padding-left: 23rem;
  }
  #child-one i {
    left: 18rem;
    font-size: 2.6rem;
  }
  #child-two h3 {
    right: 20rem;
    top: 1rem;
  }
  #child-two i {
    /* padding-left: 19.6rem; */
    font-size: 2.6rem;
  }

  #child-three i {
    left: 18rem;
    font-size: 2.6rem;
  }
  #child-three h3 {
    padding-left: 24.5rem;
    top: 1rem;
  }
  #child-three p {
    padding-left: 8.5rem;
    top: 14rem;
  }

  #child-four p {
    padding-left: 8rem;
  }

  #child-four i {
    left: 18rem;
    font-size: 2.6rem;
  }
}
